
  
body{
  /*background:linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),	url('http://thecodeplayer.com/uploads/media/gs.png');*/
  background: url("/img/background2.svg");
  /*animation: gradient 30s ease infinite;*/
  background-size:cover ;

  }
  
  @keyframes gradient {
    0% {
      background-size: 120% 200%;
    }
    50% {
      background-size: 130% 200%;
    }
    100% {
      background-size: 120% 200%;
    }
  }


  input {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }

.navbar-fixed{
    width: 100vw;
    min-width: 300px;
    background-image: linear-gradient(90deg, #4035e4 10%, #5095f0 90%);
    font-family: "Poppins", sans-serif;
    align-items: center;
}
.sidenav{
  z-index: 1001;
}
.sidenav-overlay{
  z-index: 1000;
}
#dashcard6 {
  --bg-color: #ffd861;
}
#dashcard5{
  --bg-color: #B8F9D3;
}
#dashcard4 {
  --bg-color: #ffd861;
}

#dashcard3{
  --bg-color: #B8F9D3;
}

#dashcard2{
  --bg-color: #CEB2FC;
}

#dashcard1{
  --bg-color: #DCE9FF;
}

.dashcard{
  height: 200px;
  width: 300px;
  background: #fff;
  --bg-color: #B8F9D3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
  border-top-right-radius: 10px;
  margin: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.dashcard:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px rgba(0,0,0,0.11);
}
.dashcard:active {
  transform: scale(0) translateZ(0);
  box-shadow: 0 15px 24px rgba(19, 18, 18, 0.11),
    0 15px 24px rgba(0,0,0,0.11);
}

.overlay {
  width: 100px;
  position: absolute; 
  height: 100px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  transition: transform 4s ease-in;
  /*transition-timing-function: cubic-bezier(0, 1, 0.58, 1);*/
}
.dashcard:hover .overlay {
  transform: scale(400) translateZ(0);
}

.dashcard p {
  font-size: 17px;
  color: #4C5656;
  margin-top: 30px;
  z-index: 3;
  transition: color 1s ease-out;
}
