<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="/css/materialize.min.css">
       <link rel="stylesheet" href="/css/dashboard.css">
       <link rel="stylesheet" href="/css/castVote.css">  
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>cast vote</title>

      
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/50ceab23fd.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!--Navbar Code starts here-->
    <nav>
        <div class = "navbar-fixed">
         <a href = "#" class = "brand-logo">Logo</a>
         <a href="#" id = "right_nav" data-target="mobile-data" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard"><span><i class="fa fa-home" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Home</a></li> 
            <li><a href="#"><span><i class="fa fa-bell" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Notifications</a></li> 
            <li><a href="/profile"> <span><i class="fa fa-user" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Profile</a></li>
            <li><a href="/about"><span><i class="fa fa-info-circle" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; About</a></li>
            <li><a class="deleteTokens" href="/"><span><i class="fa fa-sign-out" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Logout</a></li>
          </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-data">
      <div style="height: 80px;"></div>
      <li><a href="/dashboard"><span><i class="fa fa-home " aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Home</a></li> 
      <li><a href="#"><span><i class="fa fa-bell" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Notifications</a></li> 
      <li><a href="/profile"> <span><i class="fa fa-user"  aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Profile</a></li>
      <li><a href="/about"><span><i class="fa fa-info-circle"  aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; About</a></li>
      <li><a class="deleteTokens" href="/"><span><i class="fa fa-sign-out"  aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Logout</a></li>
      </ul>
    <!--Navbar Code ends here-->  
      
       <div class="container">

              <table class="table">
                <tr id="header">
                  <th>#</th>
                  <th> Name</th>
                  <th>Votes</th>
               </tr>
               <tbody id ="candidatesResults">

               </tbody>
              </table>
              
              <div id = "voteForm">
                <h5>You are eligible to vote</h5><br/>  
                <select id ="options" class="browser-default">
                    
                </select>
                <br/>
                <a id="votebutton" class="waves-effect waves-light btn">VOTE</a>
              </div>
              <div id = "voteValidate"> </div>   
       </div>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/castVote.js"></script>
</body>
</html>