<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>create ballot</title>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>   
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/50ceab23fd.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/createBallot.css">
        <script type="text/javascript" src="/js/createBallot.js"></script>
</head>

<body>
   
   <!--Navbar Code starts here-->
   <nav>
    <div class = "navbar-fixed">
     <a href = "#" class = "brand-logo">Logo</a>
     <a href="#" id = "right_nav" data-target="mobile-data" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dashboard"><span><i class="fa fa-home" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Home</a></li> 
        <li><a href="#"><span><i class="fa fa-bell" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Notifications</a></li> 
        <li><a href="/profile"> <span><i class="fa fa-user" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Profile</a></li>
        <li><a href="/about"><span><i class="fa fa-info-circle" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; About</a></li>
        <li><a class="deleteTokens" href="/"><span><i class="fa fa-sign-out" style= "position:absolute; top: 30%;" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Logout</a></li>
      </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-data">
  <div style="height: 80px;"></div>
  <li><a href="/dashboard"><span><i class="fa fa-home " aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Home</a></li> 
  <li><a href="#"><span><i class="fa fa-bell" aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Notifications</a></li> 
  <li><a href="/profile"> <span><i class="fa fa-user"  aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Profile</a></li>
  <li><a href="/about"><span><i class="fa fa-info-circle"  aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; About</a></li>
  <li><a class="deleteTokens" href="/"><span><i class="fa fa-sign-out"  aria-hidden="true"></i></span>&nbsp; &nbsp; &nbsp; &nbsp; Logout</a></li>
  </ul>
<!--Navbar Code ends here-->  

    <div class="container">
            
      <form id="regForm">
        <div class="tab"><h4>Welcome to Create Ballot Wizard</h4>
        </div>
        <!-- One "tab" for each step in the form: -->
        <div class="tab"><h4>Ballot Name</h4>
          <h6>Ballot Unique Id will be autogenerated.</h6>
          <div class="input-field">
            <input id="ballotName" type="text" class="">
            <label for="ballotName">Ballot Name</label>
          </div>
        </div>
        
        <div class="tab"><h4>Start Date & Time</h4>
          <div class="input-field">
            <input id="startDate" type="text" class="datepicker">
            <label for="startDate">Start Date</label>
          </div>
          <div class="input-field">
            <input id="startTime" type="text" class="timepicker">
            <label for="startTime">Start Time</label>
          </div>
        </div>

        <div class="tab"><h4>End Date & Time</h4>
          <div class="input-field">
            <input id="endDate" type="text" class="datepicker">
            <label for="endDate">End Date</label>
          </div>
          <div class="input-field">
            <input id="endTime" type="text" class="timepicker">
            <label for="endTime">End Time</label>
          </div>
        </div>

        <div class="tab"><h4>Add Candidates</h4>
          <div class="chips chips-placeholder" id="candidates"></div>
        </div>
        
        <div class="tab"><h4>Add Voters</h4>
          <h6>Keep empty if you want everyone to vote.</h6>
          <div class="chips chips-placeholder" id="voters"></div>
        </div>
        
        
        <div style="overflow:auto;margin-top: 30px;">
          <div style="float:right;">
            <button type="button" class="btn blue" id="nextBtn">Next</button>
          </div>
          <div style="float:left;">
            <button type="button" class="btn blue" id="prevBtn">Previous</button>
           </div>
        </div>
        
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
        
        </form>
         
       
    </div>
    
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>
