<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/views/css/materialize.min.css">
        <link rel="stylesheet" href="/views/css/dashboard.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/50ceab23fd.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class = "navbar-fixed">
         <a href = "#" class = "brand-logo">Logo</a>
         <a href="#" id = "right_nav" data-target="mobile-data" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Notifications</a></li> 
            <li><a href="/views/html/profile.html">Profile</a></li>
            <li><a href="/views/html/about.html">About</a></li>
            <li><a href="/views/html/index.html">Logout</a></li>
          </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-data">
        <li><a href="#">Notifications</a></li> 
        <li><a href="/views/html/profile.html">Profile</a></li>
        <li><a href="/views/html/about.html">About</a></li>
        <li><a href="/views/html/index.html">Logout</a></li>
      </ul>  
    <script type="text/javascript" src="/views/js/materialize.min.js"></script>
    <script type="text/javascript" src="/views/js/dashboard.js"></script>
</body>
</html>